<h2 style="text-align: center;margin-top: 7%;"><b>登録情報の編集</b></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

<table border="" class="table_t">

  <thead>
    <tr>
        <th class="edit_th">
          表示名：&emsp;
        </th>
        <td colspan="2" class="edit_td">
          <%= f.text_field :pic_name, autofocus: true, autocomplete: "pic_name", class: "edit_td_lef" %>
        </td>
    </tr>

    <tr>
        <th class="edit_th">
          苗字：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "edit_td_lef" %>
        </td>
        <th class="edit_th">
          名前：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "edit_td_rig" %>
        </td>
    </tr>

    <tr>
        <th class="edit_th">
          苗字かな：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "edit_td_lef" %>
        </td>
        <th class="edit_th">
          名前かな：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "edit_td_rig" %>
        </td>
    </tr>

    <tr>
        <th class="edit_th">
          会社名：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :company_name, autofocus: true, autocomplete: "company_name", class: "edit_td_lef" %>
        </td>
        <th class="edit_th">
          会社名かな：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :company_name_kana, autofocus: true, autocomplete: "company_name_kana", class: "edit_td_rig" %>
        </td>
    </tr>

    <tr>
        <th class="edit_th">
          郵便番号：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :zip, autofocus: true, autocomplete: "zip", class: "edit_td_lef" %>
        </td>
        <th class="edit_th">
          電話番号：&emsp;
        </th>
        <td class="edit_td">
          <%= f.text_field :tell, autofocus: true, autocomplete: "tell", class: "edit_td_rig" %>
        </td>
    </tr>

    <tr>
        <th class="edit_th">
          住所：&emsp;
        </th>
        <td colspan="3" class="edit_td">
          <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "edit_td_lef" %>
        </td>
    </tr>

    <tr>
        <th class="edit_th">
          メールアドレス：&emsp;
        </th>
        <td colspan="3" class="edit_td">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit_td_lef" %>
        </td>
    </tr>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

    <tr>
        <th class="edit_th">
          パスワード：&emsp;
        </th>
        <td class="edit_td">
          <%= f.password_field :password, autocomplete: "off", class: "edit_td_lef" %>
        </td>
        <th colspan="2" class="edit_th_t">
          (変更しない場合は空白のままにしてください)&emsp;
          <% if @minimum_password_length %>
          <em style="font-size: 13px;">＊パスワードは&emsp;<%= @minimum_password_length %> 文字以上で設定してください</em>
        </th>
          <% end %>
    </tr>

    <tr>
        <th class="edit_th">
          パスワード：&emsp;
        </th>
        <td class="edit_td">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "edit_td_lef" %>
        </td>
        <th colspan="2" class="edit_th_t">
          <%= f.label :もう一度パスワードを入力してください %>
        </th>
    </tr>

    <tr>
        <th class="edit_th">
          現在のパスワード：&emsp;
        </th>
        <td class="edit_td">
          <%= f.password_field :current_password, autocomplete: "off", class: "edit_td_lef" %>
        </td>
        <th colspan="2" class="edit_th_t">
          (変更を確認するために現在のパスワードの入力が必要です)
        </th>
    </tr>

  </thead>
</table>
<br>

<table class="t_t">
    <tr>
        <th class="actions">
          <%= f.submit "更　新" , data: {confirm: "情報を更新しますか？"} ,class: "btn btn-primary", style: "padding: 8px 72px; font-size:20px;" %>
        </th>
        <td class="actions_r">
          <%= link_to "TOPに戻る", :back, data: {confirm: "更新を中止しますか？"} , class: "btn btn-success", style: "padding: 8px 50px; font-size:20px;" %>
        </td>
    </tr>
</table>
      <% end %>

<hr><hr><hr><hr><hr>


