<h2 style="text-align: center;margin-top: 7%;"><%= resource_name.to_s.humanize %>登録編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<table border="" class="table_a">

  <tr>
    <th class="a_edit_ad_th">
      管理人：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :pic_name, autofocus: true, autocomplete: "pic_name", class: "a_edit_box" %>
    </td>
    
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      你的爱好：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :aihao, autofocus: true, autocomplete: "aihao", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      你爱吃什么：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :aichi, autofocus: true, autocomplete: "aichi", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      你的座右铭：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :zayu, autofocus: true, autocomplete: "zayu", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      设定你的ID：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :id_kari, autofocus: true, autocomplete: "id_kari", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      邮件：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "a_edit_box" %>
    </td>
  </tr>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <tr>
    <th class="a_edit_ad_th">
      密码：&emsp;
    </th>
    <td class="a_edit_td">
        <%= f.password_field :password, autocomplete: "off", class: "a_edit_box" %>
      </td>
      <th colspan="2" class="a_edit_th_t">
          <% if @minimum_password_length %>
          <em style="font-size: 15px;">&emsp;＊请设定&emsp;<%= @minimum_password_length %> 字以上</em>
          (不从设置密码为请匆填空)
        </th>
          <% end %>
    </tr>

   <tr>
        <th class="a_edit_ad_th">
          密码：&emsp;
        </th>
        <td class="a_edit_td">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "a_edit_box" %>
        </td>
        <th colspan="2" class="a_edit_th_t">
          &emsp;<%= f.label :在输入一边新密码 %>
        </th>
    </tr>

    <tr>
        <th class="a_edit_ad_th">
          现存密码：&emsp;
        </th>
        <td class="a_edit_td">
          <%= f.password_field :current_password, autocomplete: "off", class: "a_edit_box" %>
        </td>
        <th colspan="2" class="a_edit_th_t">
          &emsp;(为了更改需要填写现存的密码)
        </th>
    </tr>

</table>
<br>

<table class="a_t">
    <tr>
        <th class="actions_ad">
          <%= f.submit "更　新" , data: {confirm: "情報を更新しますか？"} ,class: "btn btn-primary", style: "padding: 8px 72px; font-size:20px;" %>
        </th>
        <td class="actions_add">
          <%= link_to "TOPに戻る", :back, data: {confirm: "更新を中止しますか？"} , class: "btn btn-success", style: "padding: 8px 50px; font-size:20px;" %>
        </td>
    </tr>
</table>
      <% end %>

<hr><hr><hr><hr><hr>

