<h1 style="text-align: center;">TOP</h1>
<hr>

<%= link_to "ユーザー情報の確認・編集はこちら", edit_user_registration_path, class: "btn btn-warning", style: "color:black;font-size: 20px; margin-left: 38%; padding: 23px 8px;" %>



<div class="center-block clearfix">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="ichiran">商品情報
			<%= link_to "新規登録", new_product_path, class: "btn btn-large btn-info", style: "color:maroon; padding: 8px 23px; font-size: 17px; margin-left: 67%;" %></h2>
				<table class="table table-hover">
					<tr>
						<td><h4>タイトル</h4></td>
						<td></td>
						<td><h4>URL</h4></td>
						<td><h4>企業名</h4></td>
						<td></td>
						<td></td>
					</tr>
					<% @products.each do |t| %>
						<tr>
							<td><h4><%= t.ad_name %></h4></td>
							<td><%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size" %></td>
							<td><h4><%= t.url %></h4></td>
							<td><h4><%= t.company_name %></h4></td>
							<td>
								<%=link_to "編集画面へ", edit_product_path(t.id) , class: "btn btn-success", style: "color:black;" %>
							</td>
							<td><%=link_to "商品を削除する", product_path(t.id), method: :delete, data: {confirm: "本当に削除しますか？"} , class: "btn btn-danger" %></td>
						</tr>
					<% end %>
				</table>
		</div>
	</div>
</div>

<hr>
