<h1>新規投稿チェックのためのページ。</h1>

<%= form_for @user do |t| %>
<form class="form-horizontal">
  <h3>画像投稿</h3>
  <%= t.attachment_field :ad_image %>

  <h3>カテゴリー</h3>
  <div class="category-control"><%= t.select :category, User::CATEGORY_LIST.to_a, {}, {class:"form-control"} %>
  </div><br>
  <%= t.label :選択肢に記述のないカテゴリーがございましたら、下記にご記載ください %><br>
<div class="form-group">
  	<%= t.text_field :category_ent,:placeholder => "カテゴリー", class: "new_field" %></div>

  <h3>企業名</h3>
  <div class="form-group">
  	<%= t.text_field :company_name, class: "new_field" %>
  </div>
  <p>TOPページと詳細ページで表示される御社名になります。変更または編集する場合のみ記入してください</p>

  <h3>タイトル</h3>
  <div class="form-group">
  	<%= t.text_field :ad_name,:placeholder => "タイトル", class: "new_field" %>
  </div>
  <p>一覧ページ、または詳細ページで表示される広告タイトル</p>

  <h3>詳細⑴‹TOPページで表示される短文を記入›</h3>
  <div class="form-group">
  	<%= t.text_field :ad_show,:placeholder => "詳細", class: "new_field" %>
  </div>
  <p>TOPページで表示されるこの広告の説明を250文字以内で記入してください</p>

<h3>詳細⑵‹詳細ページで表示される文章を記入›</h3>
  <div class="form-group">
  	<%= t.text_field :ad_show_text,:placeholder => "詳細", class: "new_field_text" %>
  </div>
  <p>詳細ページで表示されるこの広告の説明を500文字前後で記入してください</p>

  <h3>URL</h3>
  <div class="form-group">
  	<%= t.text_field :url,:placeholder => "URL", class: "new_field" %>
  </div>
  <p>リンクを飛ばすためのURLを記入してください</p>

  <h3>検索キーワード</h3>
  <div class="form-group">
  	<%= t.text_field :key_word,:placeholder => "キーワード", class: "new_field" %>
  </div>
  <p>閲覧者が検索をかける際、ヒットするキーワードを記入ください</p>

<br>
<%= t.submit '追加',class: "btn btn-primary" %>
</form>
<% end %>
<br>
<br>
<br>
<br>
<br>