<h2 style="text-align: center; margin-top: 8%;"><b>ログイン画面</b></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<table border="" class="table_a">

  <tr>
    <th class="a_edit_ad_th">
      管理人：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :pic_name, autofocus: true, autocomplete: "pic_name", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      你的爱好：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :aihao, autofocus: true, autocomplete: "aihao", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      你爱吃什么：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :aichi, autofocus: true, autocomplete: "aichi", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      你的座右铭：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :zayu, autofocus: true, autocomplete: "zayu", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      设定你的ID：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.text_field :id_kari, autofocus: true, autocomplete: "id_kari", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      邮件：&emsp;
    </th>
    <td class="a_edit_td">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "a_edit_box" %>
    </td>
  </tr>

  <tr>
    <th class="a_edit_ad_th">
      密码：&emsp;
    </th>
    <td class="a_edit_td">
        <%= f.password_field :password, autocomplete: "off", class: "a_edit_box" %>
      </td>
    </tr>

</table>
<table>
    <% if devise_mapping.rememberable? -%>
      <div class="field" style="text-align: center;font-size: 17px; margin-top: 1%;">
          <%= f.check_box :remember_me %>
          <%= f.label :保存密码 %>
      </div>

  <% end %>
</table>


<table class="">
    <%= f.submit "管理者ページへ", class: "btn btn-success", style: "font-size:20px; padding: 8px 50px; margin-left: 43%;margin-top: 1%;" %>
</table>
<% end %>


<br>
<br>
<br>
<br>
<br>
