<h1 style="text-align: center;margin-top: 7%;">編集</h1><hr>

<%= form_for @product do |t| %>

	<% if @product.errors.any? %>
		<div id="error_explanation" >
	        <h3><%= @product.errors.count %>件のエラーが発生しました。</h3>
	        <ul>
		        <% @product.errors.full_messages.each do |message| %>
		            <li><%= message %></li>
		        <% end %>
		    </ul>
		</div>
    <% end %>

	<div style="text-align: center;">
	  	<%= attachment_image_tag @product, :ad_image,  fallback: "no-image.jpg", class: "image_gazou_edit" %>
		<%= t.attachment_field :ad_image, style:" display: initial; font-size: 17px; height: 34px; padding-top: 10px;" %>

		<h3>カテゴリー</h3>
		  <div class="category-control"><%= t.select :category, Product::CATEGORY_LIST.to_a, {}, {class:"form-control"} %>
		  </div>

			<p class="p_text">上記カテゴリーに関してより詳しく分類を指定する時のみ以下を選択してください。</p>
			<p class="p_text">＊　選択肢では、＜例："仕事探し(転職)"＞のように表示されますが、実際詳細ページなどでは"仕事探し"の部分は省略され"＜転職＞"と表示されます。</p>
		  <div class="category-control">
  			<%= t.select :category_detail, Product::CATEGORY_LIST_2.to_a, {prompt: '選択してください'}, {class: "form-control"} %>
 	  	  </div><br>

			<p class="p_text">カテゴリーを複数指定する場合のみ下記項目よりお選びください。</p>
		  <div class="category-control">
	      	<%= t.select :category_2, Product::CATEGORY_LIST.to_a, {prompt: '選択してください'}, {class: "form-control"} %>
	      </div>
	      <br>

	      <div class="category-control">
	      	<%= t.select :category_detail_2, Product::CATEGORY_LIST_2.to_a, {prompt: '選択してください'}, {class: "form-control"} %>
	      </div>


		  	<p class="p_text"><b>選択肢にないカテゴリーが必要になりましたら、下記に語彙記入ください。</b></p>
		　<div class="form-group">
		  	<%= t.text_field :category_ent,:placeholder => "カテゴリー", class: "new_field" %>
		 </div>
	     <hr>
		  <h3>企業名</h3>
		  <div class="form-group">
		  	<%= t.text_field :company_name,:placeholder => "企業名", class: "new_field" %>
		  </div>

		  <h3>タイトル</h3>
		  <div class="form-group">
		  	<%= t.text_field :ad_name,:placeholder => "タイトル", class: "new_field" %>
		  </div>
		  <hr>

		  <h3>詳細⑴‹TOPページで表示される短文›</h3>
		  <div class="form-group">
		  	<%= t.text_area :ad_show,:placeholder => "詳細", class: "new_field_text" %>
		  </div>
		  <hr>

		<h3>詳細⑵‹詳細ページで表示される文章›</h3>
		  <div class="form-group">
		  	<%= t.text_area :ad_show_text,:placeholder => "詳細",class: "new_field_text" %>
		  </div>
		  <hr>

		  <h3>URL</h3>
		  <div class="form-group">
		  	<%= t.text_field :url,:placeholder => "URL", class: "new_field" %>
		  </div>
	      <hr>

		  <h3>検索キーワード</h3>
		  <div class="form-group">
		  	<%= t.text_field :key_word,:placeholder => "キーワード", class: "new_field" %>
		  </div>

		<%= t.submit "更　新" , data: {confirm: "情報を更新しますか？"} ,class: "btn btn-primary", style: "padding: 8px 72px; font-size:20px;" %>
	</div>

<% end %>
<br>
<br>
<br>
<br>
<br>

