<body>
	<h1>投稿一覧</h1>




	<!-- <div class="row_body"> -->
	<div class="center-block clearfix">
	  	<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-9">
			<% @products.each do |t| %>
			<div class="col-xs-12 post-box">

		  		<div class="col-xs-4">
					<!-- カテゴリー -->
					<p><%= t.category %></p>

					<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index" %>
		  		</div>
			  	<div class="col-xs-8">
					<!-- <p>タイトル:</p> -->
					<p><%= t.ad_name %></p>
					<!-- <p>説明:</p> -->
					<p class="in_td"><%= t.ad_show %></p>
					<p>会社名:<%= t.company_name %></p>
					<!-- <p>URL:</p>
					<p><%= t.url %></p> -->
					<span><%= link_to "詳細", product_path(t.id), class: "btn btn-success" %></span>
					<br/>
			  	</div>
			  </div>
			<% end %>
			</div>
		</div>
	</div>
	<!-- </div> -->
<%= paginate @products, class: "pagenate" %>
</body>
