<body>
	<h2 class="index_title"><%=link_to "Petite et accipietis, pulsate et aperietur vobis.", top_path, style:"color: white;" %> </h2>
<p class="p_danraku"></p>

	<!-- <div class="row_body"> -->
	<div class="center-block clearfix" style="padding: 15px;padding-bottom: 100px;">
	  	<div class="row">
			<div class="col-xs-3">
				<%= search_form_for @u, url: product_search_path do |f| %>
				<p>
		          <label style="margin-bottom: 0px; padding-top: 0px;margin-left: 2px;"><%= f.search_field :category_ent_or_category_or_category_detail_or_category_2_or_category_detail_2_or_company_name_or_ad_name_or_ad_show_or_key_word_cont,size:45 ,style:"width: 78%; height:32px;" %>
		          <input id="submit_button" type="submit" class="btn btn-primary" name="submit" value="検　索" style="margin-bottom: 4px;"></label>
		        </p>
    			<% end %>

			</div>
			<div class="col-xs-9">
			<% if @results.presence %>
			<% @results.each do |t| %>
			<div class="col-xs-12 post-box">

		  		<div class="col-xs-3">
					<!-- カテゴリー -->
					<p style="margin-bottom: 5px;margin-top: 3px;width: 220%;">
						<%= t.category %>&emsp;
						<%= t.category_detail %>&emsp;
						<%= t.category_2 %>&emsp;
						<%= t.category_detail_2 %>&emsp;
						<%= t.category_ent %>
						<% t.key_word %>
					</p>

					<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index" %>

		  		</div>
		  		<div class="col-xs-1" style="margin-top: 12%;padding: 0px;">
		  			<span><%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:17px;" %></span>
		  		</div>
			  	<div class="col-xs-8">
			  		<p></p>
			  		<p></p>
			  		<p></p>
					<!-- <p>タイトル:</p> -->
					<h3><%= t.ad_name %></h3>
					<!-- <p>説明:</p> -->
					<h4 class="in_td" style="height: 96px;"><%= t.ad_show %></h4>
					<p>会社名:<%= t.company_name %></p>
					<!-- <p>URL:</p>
					<p><%= t.url %></p> -->
			  	</div>
			</div>

			<% end %>

			<%= paginate @results, class: "pagenate" %>

			<% elsif @products.blank? %>
			<h2>&emsp;&emsp;&emsp;＊　検索結果はありません</h2>

			<% else %>
			<% @products.each do |t| %>
			<div class="col-xs-12 post-box">

		  		<div class="col-xs-3">
					<!-- カテゴリー -->
					<p style="margin-bottom: 5px;margin-top: 3px;width: 220%;">
						<%= t.category %>
						<%= t.category_detail %>&emsp;
						<%= t.category_2 %>
						<%= t.category_detail_2 %>&emsp;
						<%= t.category_ent %>
					</p>

					<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index" %>

		  		</div>
		  		<div class="col-xs-1" style="margin-top: 12%;padding: 0px;">
		  			<span><%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:17px;" %></span>
		  		</div>
			  	<div class="col-xs-8">
			  		<p></p>
			  		<p></p>
			  		<p></p>
					<!-- <p>タイトル:</p> -->
					<h3><%= t.ad_name %></h3>
					<!-- <p>説明:</p> -->
					<h4 class="in_td" style="height: 96px;"><%= t.ad_show %></h4>
					<p>会社名:<%= t.company_name %></p>
					<!-- <p>URL:</p>
					<p><%= t.url %></p> -->
			  	</div>
			</div>


			<% end %>

			<%= paginate @products, class: "pagenate" %>

			<% end %>
			</div>
		</div>
	</div>
	<!-- </div> -->
</body>
