<body>
	<p class="p_danraku"></p>


	<!-- <div class="row_body"> -->
	<div class="center-block clearfix" style="padding: 35px 22px 80px 10px;">
	  	<div class="row">
			<div class="col-xs-3">
				<div class=" affix" style="padding: 4px 0px 0px 2px; width: 24%;">
					<div class="" style="padding: 9px 1px 1px 4px;background-color: lightblue;text-align: center;">
						<%= search_form_for @u, url: product_search_path do |f| %>

				          <label class="se_label">
				          	<div>
					          	<%= f.label :category, "カテゴリー" %>
					          	<%= f.text_field :category_ent_or_category_or_category_detail_or_category_2_or_category_detail_2_cont, style:"width: 95%; height:32px; font-size:16px;"  %>
					        </div>
					        <div>
					          	<%= f.label :category, "その他キーワード", style:"margin-top:6px;" %>
					          	<%= f.text_field :company_name_or_ad_name_or_ad_show_or_key_word_cont , style:"width: 95%; height:32px; font-size:16px;" %>
							</div>


				          	<input id="submit_button" type="submit" class="btn btn-primary" name="submit" value="検　索" style="margin-bottom: 2px;background-color: mediumblue; margin-top: 10px;">
				      	  </label>

	    				<% end %>
	    			</div>

	    			<div style="padding-top: 9px;background-color: black;"></div>

	    		</div>
			</div>




			<div class="col-xs-9">
				<% if @results.presence %>
				<% @results.each do |t| %>
				<div class="col-xs-12 post-box">

			  		<div class="col-xs-3">
						<!-- カテゴリー -->
						<p style="margin-bottom: 5px;margin-top: 2px;width: 444%;border-bottom: 1px solid gray;">
							<%= t.category %>&emsp;
							<%= t.category_detail %>&emsp;
							<%= t.category_2 %>&emsp;
							<%= t.category_detail_2 %>&emsp;
							<%= t.category_ent %>
							<% t.key_word %>
						</p>

						<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index" %>

			  		</div>
			  		<div class="col-xs-1" style="margin-top: 12%;padding: 0px;">
			  			<span><%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:17px;" %></span>
			  		</div>
				  	<div class="col-xs-8">
				  		<p></p>
				  		<p></p>
				  		<p></p>
						<!-- <p>タイトル:</p> -->
						<h3 style="margin-top: 26px;"><%= t.ad_name %></h3>
						<!-- <p>説明:</p> -->
						<h4 class="in_td" style="height: 96px;"><%= simple_format(t.ad_show) %></h4>
						<div class="col-xs-8" style="padding: 0px;">
							会社名:<%= t.company_name %>
						</div>
						<div class="col-xs-4" style="text-align: right;">
							更新日時：<%= t.created_at.strftime("%Y-%m-%d") %>
						</div>
						<!-- <p>URL:</p>
						<p><%= t.url %></p> -->
				  	</div>
				</div>

				<% end %>

				<%= paginate @results, class: "pagenate" %>

				<% elsif @products.blank? %>
				<h2>&emsp;&emsp;&emsp;＊　検索結果はありません</h2>

				<% else %>
				<% @products.each do |t| %>
				<div class="col-xs-12 post-box">

					<div class="col-xs-3">
					<!-- カテゴリー -->
						<p style="margin-bottom: 5px;margin-top: 2px;width: 444%;border-bottom: 1px solid gray;">
							<%= t.category %>&emsp;
							<%= t.category_detail %>&emsp;
							<%= t.category_2 %>&emsp;
							<%= t.category_detail_2 %>&emsp;
							<%= t.category_ent %>
							<% t.key_word %>
						</p>

					<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index" %>

					</div>
					<div class="col-xs-1" style="margin-top: 12%;padding: 0px;">
						<span><%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:17px;" %></span>
					</div>
					<div class="col-xs-8">
						<p></p>
						<p></p>
						<p></p>
						<!-- <p>タイトル:</p> -->
						<h3 style="margin-top: 26px;"><%= t.ad_name %></h3>
						<!-- <p>説明:</p> -->
						<h4 class="in_td" style="height: 96px;"><%= simple_format(t.ad_show) %></h4>
						<div class="col-xs-8" style="padding: 0px;">
							会社名:<%= t.company_name %>
						</div>
						<div class="col-xs-4" style="text-align: right;">
							更新日時：<%= t.created_at.strftime("%Y-%m-%d") %>
						</div>
						<!-- <p>URL:</p>
						<p><%= t.url %></p> -->
					</div>
				</div>


				<% end %>

				<%= paginate @products, class: "pagenate" %>

				<% end %>
			</div>
		</div>
	</div>
	<!-- </div> -->
</body>
