<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="ap_html">
	<p class="p_danraku"></p>


	<div class="row_body">
	  <div class="center-block clearfix pro_index_1">
	  	<div class="row">
			<div class="col-xs-3">
				<div class=" affix" style=" width: 24%;">
					<div class="" style="padding: 2.5% 2% 5% 2%;background-color: lightblue;text-align: center;">

						<%= search_form_for @u, url: product_search_path do |f| %>

		                  <label class="se_label">
							<div>
								<%=f.label :category,"カテゴリーで絞り込み検索", style:"font-size:15px;"  %>
								<%= f.select :category_or_category_2_cont, Product::CATEGORY_LIST, { prompt: "選択してください"}, value: "" , style:"width: 95%; height:32px; font-size:16px;"%>
							</div><br>
							<div>
		                      <%= f.label :category, "その他キーワード", style:"font-size:15px;" %>
		                      <%= f.text_field :category_ent_or_category_detail_or_category_detail_2_or_company_name_or_ad_name_or_ad_show_or_key_word_cont , style:"width: 95%; height:32px; font-size:16px;" %>
              				</div>

				          	<input id="submit_button" type="submit" class="btn btn-primary" name="submit" value="検　索" style="background-color: mediumblue; margin-top: 5%;">
				      	  </label>


                 		 <% end %>

	    			</div>

	    			<!-- <div style="background-color: lightblue;">
	    				<img src="/assets/kensaku.jpg" alt="Kensaku" style="width:85%;margin-left: 8%;padding-bottom: 17%;padding-top: 5%;">
	    			</div> -->

	    		</div>
			</div>




			<div class="col-xs-9">
				<% if @results.presence %>
				<% @results.each do |t| %>
				<div class="col-xs-12 post-box">

			  		<div class="col-xs-4">
					<!-- カテゴリー -->
						<p style="margin-bottom: 3%;margin-top: 1%;width: 333%;">
							<%= t.category %>&emsp;
							<%= t.category_detail %>&emsp;
							<%= t.category_2 %>&emsp;
							<%= t.category_detail_2 %>&emsp;
							<%= t.category_ent %>
							<% t.key_word %>
						</p>

					<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index" %>

					</div>
					<div class="col-xs-8">
						<p></p>
						<p></p>
						<p></p>
						<!-- <p>タイトル:</p> -->
						<h3 style="margin-top: 6.5%;overflow-x: scroll; width: 100%;"><%= t.ad_name %></h3>
						<!-- <p>説明:</p> -->
						<h4 class="in_td" style="height: 96px;border: 1px dotted gray;padding: 0.5%;"><%= simple_format(t.ad_show) %></h4>
						<div class="col-xs-1" style="">
						<%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:17px;" %>
						</div>
						<br><br>
						<div class="col-xs-8" style="padding: 0%;margin-left: -8%;margin-top: 1.5%;    width: 65%;">
							会社名:<%= t.company_name %>
						</div>
						<div class="col-xs-3" style="width: 40%;margin-top: 1.5%;margin-bottom: 1%;padding: 0%;">
							更新日時：<%= t.created_at.strftime("%Y-%m-%d") %>
						</div>
						<!-- <p>URL:</p>
						<p><%= t.url %></p> -->
					</div>
				</div>

				<% end %>

				<div class="pagepage">
				<%= paginate @results, class: "pagenate" %>
				</div>

				<% elsif @products.blank? %>
				<h2>&emsp;&emsp;&emsp;＊　検索結果はありません</h2>

				<% else %>
				<% @products.each do |t| %>
				<div class="col-xs-12 post-box">

					<div class="col-xs-4">
					<!-- カテゴリー -->
						<p style="margin-bottom: 3%;margin-top: 1%;width: 333%;">
							<%= t.category %>&emsp;
							<%= t.category_detail %>&emsp;
							<%= t.category_2 %>&emsp;
							<%= t.category_detail_2 %>&emsp;
							<%= t.category_ent %>
							<% t.key_word %>
						</p>

					<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index" %>

					</div>
					<div class="col-xs-8">
						<p></p>
						<p></p>
						<p></p>
						<!-- <p>タイトル:</p> -->
						<h3 style="margin-top: 6.5%;overflow-x: scroll; width: 100%;"><%= t.ad_name %></h3>
						<!-- <p>説明:</p> -->
						<h4 class="in_td" style="height: 96px;border: 1px dotted gray;padding: 0.5%;"><%= simple_format(t.ad_show) %></h4>
						<div class="col-xs-1" style="">
						<%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:17px;" %>
						</div>
						<br><br>
						<div class="col-xs-8" style="padding: 0%;margin-left: -8%;margin-top: 1.5%;    width: 65%;">
							会社名:<%= t.company_name %>
						</div>
						<div class="col-xs-3" style="width: 40%;margin-top: 1.5%;margin-bottom: 1%;padding: 0%;">
							更新日時：<%= t.created_at.strftime("%Y-%m-%d") %>
						</div>
						<!-- <p>URL:</p>
						<p><%= t.url %></p> -->
					</div>
				</div>


				<% end %>

					<div class="pagepage">
						<%= paginate @products, class: "pagenate" %>
					</div>


				<% end %>
			</div>
		</div>
	  </div>
	</div>

                                       

	<div class="div_body">
		<div class="pro_index_1">
			<div class="">
				<div class="" style="padding: 0.5% 2% 2% 2%;background-color: lightblue;text-align: center;">

					<%= search_form_for @u, url: product_search_path do |f| %>

	                  <label class="se_label">
	                  	<div style="text-align: left;">
							<%=f.label :category,"カテゴリーで絞り込み検索：", style:"font-size:15px; margin-top: 1%;"  %>
							<%= f.select :category_or_category_2_cont, Product::CATEGORY_LIST, { prompt: "選択してください"}, value: "" , style:"width: 55%; height:32px; font-size:16px; background-color:white;"%>

			          		<input id="submit_button" type="submit" class="btn btn-primary" name="submit" value="検　索" style="margin-bottom: 2px;background-color: mediumblue;">
			          	</div>
	                    <div style="text-align: left;">
	                      <%= f.label :category, "その他キーワード:", style:"font-size:15px;" %>
	                      <%= f.text_field :category_ent_or_category_detail_or_category_detail_2_or_company_name_or_ad_name_or_ad_show_or_key_word_cont , style:"width: 34%; height:32px; font-size:16px;" %>
          				</div>
			      	  </label>


             		 <% end %>
    			</div>
    		</div>
		</div>


		<div style="width: 97%;margin-left: 1.5%;">
		    <% if @results.presence %>
			<% @results.each do |t| %>
			<div class="col-xs-12 post-box_mini">

				<div class="col-xs-4" style="padding-left: 0px;">
				<!-- カテゴリー -->
					<div class="category_mini">
						<%= t.category %>&emsp;
						<%= t.category_detail %>&emsp;
						<%= t.category_2 %>&emsp;
						<%= t.category_detail_2 %>&emsp;
						<%= t.category_ent %>
						<% t.key_word %>
					</div>

				<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index_mini" %>
				<%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:17px; margin-top: 8px; margin-left: 15%;margin-bottom:5px;" %>

				</div>
				<div class="col-xs-8">
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<!-- <p>タイトル:</p> -->
					<h4 style="margin-top: 32px;overflow-x: scroll;    width: 108%;margin-left: -6%;max-height: 35px;"><%= t.ad_name %></h4>
					<!-- <p>説明:</p> -->
					<h5 class="in_td" style="height: 96px;"><%= simple_format(t.ad_show) %></h5>
					<div class="col-xs-8" style="padding: 0px;">
						会社名:<%= t.company_name %>
					</div>
					<div class="col-xs-4" style="text-align: right;">
						更新日時：<%= t.created_at.strftime("%Y-%m-%d") %>
					</div>
					<!-- <p>URL:</p>
					<p><%= t.url %></p> -->
				</div>
			</div>

			<% end %>

				<div class="pagepage">
					<%= paginate @results, class: "pagenate" %>
				</div>

			<% elsif @products.blank? %>
			<h2>&emsp;&emsp;&emsp;＊　検索結果はありません</h2>

			<% else %>
			<% @products.each do |t| %>
			<div class="col-xs-12 post-box_mini" style="padding: 0% 0% 0% 1.5%;">

				<div class="col-xs-4" style="padding-left: 0%;">
				<!-- カテゴリー -->
					<div class="category_mini">
						<%= t.category %>&emsp;
						<%= t.category_detail %>&emsp;
						<%= t.category_2 %>&emsp;
						<%= t.category_detail_2 %>&emsp;
						<%= t.category_ent %>
						<% t.key_word %>
					</div><br>

				<%= attachment_image_tag t, :ad_image, fallback: "no-image.jpg", class: "image_size_index_mini" %>
				<%= link_to "詳細", product_path(t.id), class: "btn btn-success", style:"font-size:13px; margin-top: 3%;" %>

				</div>
				<div class="col-xs-8">
					<p></p>
					<p></p>
					<p></p>
					<p></p>
					<!-- <p>タイトル:</p> -->
					<br>
					<h4 style="margin-top: 5%;overflow-x: scroll; width: 108%;margin-left: -6%;"><%= t.ad_name %></h4>
					<!-- <p>説明:</p> -->
					<h5 class="in_td" style="height: 96px;"><%= simple_format(t.ad_show) %></h5>
					<div class="col-xs-8" style="width: 100%;padding: 0%;">
						会社名:<%= t.company_name %>
					</div>
					<div class="col-xs-4" style="width: 100%;padding: 0%;">
						更新日時：<%= t.created_at.strftime("%Y-%m-%d") %>
					</div>
					<!-- <p>URL:</p>
					<p><%= t.url %></p> -->
				</div>
			</div>


			<% end %>

				<div class="pagepage">
					<%= paginate @products, class: "pagenate" %>
				</div>

			<% end %>
			<br>
			<br>
			<br><br><br>
		</div>
	</div>








</body>


