<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="ap_html">
<p class="show_mini_top"></p>
<div class="show_mini_box">
	<div class="center-block clearfix show_box show_box_mini" style="padding-bottom: 20px;">
		<div class="show_category" style="padding: 0px; text-align: left;">
			<h5>
				<%= @product.category %>
				<%= @product.category_detail %>&emsp;
				<%= @product.category_2 %>
				<%= @product.category_detail_2 %>&emsp;
				<%= @product.category_ent %>
			</h5>
		</div>


		<div class="image_ad" style="text-align: center;">
			<%= attachment_image_tag @product, :ad_image,  fallback: "no-image.jpg", class: "image_gazou" %>
		</div>
		<div class="">
			<div class="">
				<h3 style="text-align: center; padding-top: 10px;"><%= @product.ad_name %></h3>
				<div class="in_show">
					<h4 style="text-align: left;"><%= simple_format(@product.ad_show_text) %></h4>
				</div>
				<h4 style="text-align: center;">
					URL：<a><%= link_to 'ウェブサイトへ',@product.url %></a>
				</h4>
				<!-- 企業名 -->
				<h4 style="text-align:center;">
					企業名：<%= @product.company_name %>
				</h4>
			</div>
			<br>
			<div>
				<p style="text-align: right;padding-right: 20px;">更新日時：<%= @product.created_at.strftime("%Y-%m-%d") %></p>
			</div>

		</div>

	</div>
</div>
</body>
<br>
<br>
<br><br>


