
<body>
<div class="">
	<div class="center-block clearfix show_box" style="padding: 0px; border-left-width: 2px; margin: 30px 15px 15px;">
		<h4>カテゴリー：<%= @product.category %>&emsp;<%= @product.category_2 %>&emsp;<%= @product.category_ent %></h4>
		<div class="col-xs-5 image_ad">
			<%= attachment_image_tag @product, :ad_image,  fallback: "no-image.jpg", class: "image_gazou" %>
			<h4>URL：<a><%= @product.url %></a></h4>
			<!-- 企業名 -->
			<h4><%= @product.company_name %></h4>
		</div>
		<div class="col-xs-7">
			<div class="">
				<h3><%= @product.ad_name %></h3><br>
				<div class="in_show">
					<h4><%= @product.ad_show_text %></h4>
				</div>
			</div>

		</div>
	</div>
</div>
</body>
<br>
<br>


