<!DOCTYPE html>
<html>
  <head>
    <title>檢覽-KENLAN-</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header style="position: fixed;
               top: 0;
               left: 0;
               right: 0;
               z-index: 1;
               background-color: black;
               bottom: 90.5%;">
	<div class="container">
		<% if user_signed_in? %>
        <!--ログイン中-->
        <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
  			<li class="">
               <span class="font"><%= link_to "檢覽-KENLAN-", root_path, style: "color:white;" %></span>
            </li>
          </ul>
        </nav>
        <nav class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><span class="font_text"><%= link_to "ユーザページへ", users_path, style: "color:white;" %>&emsp;</span>
            </li>
            <li class="">
            <span class="font_text"><%= link_to "ログアウト", destroy_user_session_path, method: :delete , data: {confirm: "ログアウトしますか？"}, style: "color:white;" %>&emsp;</span>
            </li>
          </ul>
        </nav>
        <nav class="nav navbar-nav navbar-center" style="margin-bottom: 4px; width: 100%; background-color: black;margin-left: 294px;margin-top: -20px;">
          <ul class="nav navbar-nav navbar-center">
            <li class="">
              <h2 class="index_title"><%=link_to "Petite et accipietis, pulsate et aperietur vobis.", top_path, style:"color: white;" %> </h2>
            </li>
          </ul>
        </nav>

      <% elsif admin_signed_in? %>
        <!--adminログイン中-->
        <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
        <li class="">
               <span class="font"><%= link_to "檢覽-KENLAN-", root_path, style: "color:white;" %></span>
            </li>
          </ul>
        </nav>
        <nav class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><span class="font_text"><%= link_to "管理者ページへ", admins_homes_path, style: "color:white;" %>&emsp;</span>
            </li>
            <li class="">
            <span class="font_text"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete , data: {confirm: "ログアウトしますか？"}, style: "color:white;" %>&emsp;</span>
            </li>
          </ul>
        </nav>
        <nav class="nav navbar-nav navbar-center" style="margin-bottom: 4px; width: 100%; background-color: black;margin-left: 294px;margin-top: -20px;">
          <ul class="nav navbar-nav navbar-center">
            <li class="">
              <h2 class="index_title"><%=link_to "Petite et accipietis, pulsate et aperietur vobis.", top_path, style:"color: white;" %> </h2>
            </li>
          </ul>
        </nav>

  
        <% else %>
        <!-- ログアウト中 -->
        <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-left">
  			<li class="">
               <span class="font"><%= link_to "檢覽-KENLAN-", root_path, style: "color:white;" %></span>
            </li>
          </ul>
        </nav>
        <nav class="nav navbar-nav navbar-right" style="margin: 0px;">
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <span class="font_text"><%= link_to "本サイト概要", informations_path, style: "color:white; margin:0px;" %>&emsp;</span>
            </li>
          </ul>
        </nav>
        <nav class="nav navbar-nav navbar-center" style="margin-bottom: 4px; width: 100%; background-color: black;margin-left: 294px;margin-top: -20px;">
          <ul class="nav navbar-nav navbar-center">
            <li class="">
              <h2 class="index_title"><%=link_to "Petite et accipietis, pulsate et aperietur vobis.", top_path, style:"color: white;" %> </h2>
            </li>
          </ul>
        </nav>

        <% end %>
	</div>
</header>


    <%= yield %>


  <footer>
    <div class="sticky_f">
      <% if user_signed_in? %>
        <!--ログイン中-->
        <nav class="nav navbar-nav navbar-left">
          <div class="">&emsp;<%= link_to "運営への質問／問い合わせはこちら", inquiries_path, style:"color: white;font-size:20px;" %></div>
        </nav>
        <nav class="nav navbar-nav navbar-right" style="margin: 0px;">
          <div class=""> <%= link_to "投稿に関して", informations_note_path, style:"color: white;font-size:20px;" %>&emsp;</div>
         </nav>
  <br/>
        <p style="margin-right: 21.8%;">
            <a style="color: white;">利用規約　|</a>
            <a style="color: white;">プライバシーポリシー　|</a>
            <a style="color: white;">サイトマップ</a>
        </p>
        <p style="color: white;"><small>Copyrighht © 2018 ABCD Co.,Ltd. All Rights Reserved.</small></p>


      <% elsif admin_signed_in? %>
      <!-- adminログイン中 -->
        <p>
            <a style="color: white;">利用規約　|</a>
            <a style="color: white;">プライバシーポリシー　|</a>
            <a style="color: white;">サイトマップ</a>
        </p>
        <p style="color: white;"><small>Copyrighht © 2018 ABCD Co.,Ltd. All Rights Reserved.</small></p>


      <% else %>
        <!-- ログアウト中 -->

  	    <nav class="nav navbar-nav navbar-left">
          <div class=""> <%= link_to "お問い合わせ／登録をご希望の方はこちら", inquiries_path, style:"color: white;font-size:20px;" %></div>
        </nav>
  	    <nav class="nav navbar-nav navbar-right" style="margin: 0px;">
          <div class=""> <%= link_to "〓　企業の方はこちらよりログイン", new_user_session_path, style:"color: white;font-size:20px;" %> </div>
         </nav>
  <br/>
  	  	<p style="margin-right: 26.5%;">
  	        <a style="color: white;">利用規約　|</a>
  	        <a style="color: white;">プライバシーポリシー　|</a>
  	        <a style="color: white;">サイトマップ</a>
  	    </p>
  	    <p style="color: white;"><small>Copyrighht © 2018 ABCD Co.,Ltd. All Rights Reserv</small><%= link_to "ed.", new_admin_registration_path, style:"color:white; font-size: 85%;" %></p>

      <% end %>

    </div>
  </footer>


</html>